Source: meeshot
Section: user/other
Priority: optional
Maintainer: Jussi Niskanen <jussini@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3

Package: meeshot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Play instant rimshot with a push of a button!
 Play instant rimshot, release evil laughter, roll a classic two bits tune or
 play a sad trombone with a push of a button!
XSBC-Maemo-Display-Name: Instant Meeshot!
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8
 A/wD/oL2nkwAAAAlwSFlzAAA+1QAAPtUBgnC89wAAAAd0SU1FB9sLCwk3JcAuv6AAAA5bSURBVH
 ja7V1rbFzlmX7e73xnZjyecew4dkic2E4IIeQC4braJQEKhGWrLbvqKvzZH1RNqy2o/dNdQFQUx
 LYFAbtVpUpchFKx2u5KBYlK7G5FCFQpoV22XJsEk3uc+BIc22PH4xnPnPN937M/ztiZJHZwjA12
 Mq90JJ+5fJdnnvd+zrHgC5T9rWmsbM+Wnzd4Ipd7wAoBVltgZUBeGhINBkgTiAOAAEUNZH1Bb0z
 kkAfsJ9BmgYOW3LeyPds70RwzLTLTExxYVoPLjgyN/p1QQBOBLYa81xC1g86hIyQ6jeOgowSOcK
 WFjS6OpUMBiClBrRIu0UqW+oJapaAFg1rkWQG2OqDrsiNDhTPnnpMAjrJhf2u6SUReUMAt7aFL7
 Coa6beEA0hSzm9JPP3TIlSA1HuCK+Oarb4qOGAHyW+vbM92zTQjZYbZd58PfK89tKv2BBa9hiyS
 ok7tHiDhrAWdBV30kor58GNxiKchnoILDWwYwBSLoCVEAUpriFLRF4BoHABxETZokbUxD62+tzc
 Efn7ZkaFnZj2A5epyeFnNloB88nDo6j8qGJ50FA2BgHDOgdYiUVuLeYubkF64CDVNS5BqXIhUQy
 P8ZBJ+PFHSYYGIgCRAwoYhisNZ5Pv6cLK7E0Pd3Rjs7ED2eBeCXK4EqoAUGBDzlHB9QstyX/XHR
 B5cfmRo63Sr9rQy8OCymusMueOYcdU7c4Ys8YMklKcQr6nBonXrsXzjV1Dd2AhaEwFKTm3xIlCe
 B1Ee+g7sw6EdbyJz5DCCfG7sfRIQgBurtTRrldMit6w4MvTerGHg3tY0FBCDyNsD1l332rARSzA
 amyCJZRtuxspNd0L5PkRm1m/ROeQyffjwP/8d2ePdkZpHvw89gdyZ0qzz1HsgNzggWPU57eOUd9
 PWksbqo1nsW5beTOIXv82b1KfGUSJNhYhg7dfvRsOq1fCrkqCzX2TEBPEU8v0ZHN7xJo6983t48
 TiiHxS8RCu5NamHRfDNy49kXx7dyxcG4Mctaaw5msWB1prnjlv3DzvzhqbkTZ2zaN1wM1bcegfE
 80Dn8GWK8jWGe3qwf9v/oHfvJ/C0BgBoEW5Malnkqecvax/6zuieZhTAPa01WNs+hN0t6aQneHd
 v4Fb/qWCgS4a+qm4+rrnnW4hVV0/Zrs0YkJ6HE217sPc3r8KMjEBEYEhcldBYFVNtlrh+3dFsfn
 SP0w7g7tY01rVnsbsl7XsifW/lw5pe4yClyKzxijVY9bW/nXXAnbVhpfDhi1uR7Tk+5uEbtMJNS
 X/IkgvWHc2Go3udfga2pNJKpOONXDgvayMn64zByr/+Gyxcu+5LV9fzcN84/v67OPjGNnjaB0Cm
 PZHbq/2Tjly69uhwdtoZ+KfmVJ2IdO4YCZNZS4gInDVYddfXUb/ictDaWY7aGRmMp5E5dAD7/uv
 XQImJaU9wS5WfJ7nkqmPDA9MG4EfNqSRFet4eMdXD1omIgNZixVe/hvmXXjbr1fZcm8+d6EHbKy
 8BjEKulKe4oUrnhFy4/thw/nMB+F5zCtcdG8aHLek97xfM6n4beVqSaN5wMxrXXDl31PYcwXhhI
 IM9L/1HFDMCqPeE1yZ029VHs2tHMZgyAz9sST97KLDfORzYsbxz3tJmLNv0VwDnNninNFuQ7zuB
 fa++Ugq8ieUxD5fGvOeuPpq9d8oMfLcltXnQ4KUPioZq9LME1v39PVCeN3cw4qmaw7mg6Nv/Cbr
 e+QMggAN4TVxLrcbd1x8dfvm8APy/5jQsmRSg738LNsEy8FpuvQ2pSxbjQpUj219DvvdEVMgA+O
 cJr0BggSeS/7Nj2ckz8I/N6bf2FO3GQcexn9GLx7Hyrr+bQ752CgG3Utj7yq/gwhAQQa0SrI17O
 284lr1pUgz8/dIUFLAp4/j6vqKljGb/JFpvvQPx2to5aOPOT7LdHeh65w8QpUCSl8c9ma/kDgds
 v7HjdIeiy092Lknhxo5hvNOc/mV7YOGJyOj8nu8jnk6DxlyQqluOc3pRExLpdFRjFJH2wKG+Sv/
 yxmPZhTuXpLCxc3hiBr69pPqe45YvdhsHwalqb6ppCRqvugYXi+ROfIpP330HojwQxGKtsMiTb2
 zozP3buCq8fUk1EgIFSGF30WpX9h6dw+K/2Ag/XXPKrV3gorSPY7/dBhcE0TnAdXHPAEwUCLepM
 3e6Cm/qzOF3S1O39xr6jmS531eeh3h16oJV33FV2lpUL2hEtqsDEIEj0WPoN2i5fVPn8OtnMfCN
 5mrxHAb3Bq7G8XTlVlqjacPNcyDfnV5jOJLpQ/+eXUCpqq0EWBVTQ1ah9vZjOZ7GQM9JS4GsAUk
 FkfKBxDnAGOBiALBM/EQVhMSYJyVZIGoSTloAtJ8GoAMePm4clYp6GafT2SAYHIBOVo/ZwNluBa
 VUtiKjLiCthbMWgEB5CqL1WDY1oUm3FgJAqbEPyHHj2OJ7DwP41tg825qqfQBBe+jGD61LPQ4/l
 UIsXYNYzTx4VUkoJZgtSJZbHQIIsyeR6/kU4fBwKWcXnG6ZCOXHkF7ajPi82nFHLAwM4uThg5Hu
 lk3U6isAiP1lVy7UpR9q3YgD1ESJSdSbhMlmYbJZ5Lu7gFJLUWkNFU/AT6cRT9fAiyciTOlmHlw
 BIApCIhgeQrE/AzOShwsCsFToGGXi2TGbgEGAoUMHobSPREMjko2XgHSlYRXy3Z1QImd9s0CgSm
 EdgA90RGG5a8iVOmoT133G9VTWGNhCAcHgAHIkxNPwk1XQyWroqiS8ZBJK6zK155SQKgfCmRA2P
 wIzkofJ5xDmcogCBxlb66Tap6NJljUY6e5EkOlDYn49nLEoDmTgTHj2OAIMOTIh6i4AHwgA/GZx
 dVe3cYvVtPbZOVZo9RIJxOfVQierITpqhJdv9qzSSanmCBJ0DrQGthiWwMpGsdkYSDLNhuCzC1U
 uCqy7v9qda5L/XpxMO8hQn3Uz3PTmacZaKQ/i6wjMUiGTdKApXSdjLMpdVbQ0mR32lsQCT0GBNR
 rAegNCzfji5HSyOQsW7YQKLaVq8ez08NG1NzFgvabgitBNpuA43auYneBM1nmFBHyFK7SjrDZ0U
 fBckUmLIemoVmsCK0iIqsB3nnYQQmCFdsDyaXdmF4FIlL0t1w6oVxU8piQOqNd0SEvF/E3JCdIh
 rZ3AVxX9nRoDBb4mCQ8CVvA4bxtoQGgKQgh0hYNT8sShJplVIlUVOKaU0mW1A3oFaKzAMSUv3Ks
 d0S7AmgocUwCQaNcOOOgAepVQ+rzERiXjg9oBbZYQvxJNn5cEDuKANg3KJwGJqgoBzw9AEqB8oi
 n4KGR0K2klFpx8DBgSoOAjtaUnnzVAt8Kpe3Qrx7kPBcAA3Vt68lkNAIZ8oUB5JFFJiiclBZKGf
 AEoNdZJvnrS8dGkHiVoRc4RPuOkpZB89RSAwO6CIwRqshcUX7S5G0RQcA4EdqOkzrivtxCG5NaQ
 pJSaw5VjnEMEIcmQ3HpfbyEcY2CJhT/uDt2WZb7Hih5PzMHu0AmBH4++MAagiBzNE0MQ1iip2ML
 xbJ8jJE8MKZGjo6+O5R/fPTFCR24+YQmBsKKyZx7CE5Zw5ObvnhhheUwIAHhmQQJFiCJYuDrhaY
 VzXilzsZEPDuSHBWsEkoiD7r6+AsbV039dUHVPk5YXm3xVyUzKWNYVOnQZfuMf+0bGv8gcAH66I
 IHv9xXw5IJEzw0Jr9GvYAcACAH8sWBPPNhXWDiK0bgAAsDTCxIAuGm+J6+vjvvkRe5NBGBbMZSM
 5R2AbL+/DLxzuton6uNvXZnQG+uUXLyBNYkBR+wqmJ0P9Rcnd6sXADxZH4eIJAH0bUjqhOJF6FA
 IOCHfzpsCgAUk8w/2FycH4Kg8Xh/fPN9TL12b0HQXmSorgO8XjGSsu/sH/cUJb3c9502/b47Yth
 vi3iUCXF/vqYsq7jsYWOkI3XMPZ4pPfQbQ52JgAo9kivceCOzHfdYxulz/AkcORJ91PBDYjx/JF
 O99vD7xmSHOZ8qP6hNJAj03VenqtHdhe5SsJd8aMTkBFv6wv/D5HjpRLo/OT9RB2Hlb0k+mLtCL
 CYcd8WY+zIOy5LFMYfoee1IGYtqSHZuq/XnzPCGIue+do9oTT1rK9lx40hNZ+limMOkH70y6mfl
 ofRyPZQpZJdKwPRcO9RlGDQDO7UME6DOU7blwSIk0PJYpZB+tj59XmjdpeWR+Av+cKeCH82NJR7
 x7RdxbfW1CI5yj5PMBvF8w+KRo25Tg+h9lgvzoHqedgQDGBiYk/5OBYM2uon1+Wy6EJTiXunoKg
 CW4LRdiV9E+/5OBYA0h+fI9zggDy+UHdTE8PhDgobrYZoH84rakn1rkq1mfOwvA46GTN/PhMMFv
 PjEQvDy6l6lWaj6XPFQXhwNiIN+u1+q6O6t98YHoxjXOHtRAMgTktVzIfuPeg8gGBQRPDBQ/99D
 TJvfXxq7zRHa0+qr65qSmiMiX/XiF6EnL5O/yRtpDl7PkLU8PBrPnIbRl4OHpwUgNvl8b2xITeX
 JFTNVfk9Ccp0QMvsheFaEhOOnIDwpGDgauPyAf/OlgsPXMtc4aAMeTf6qN3WeA7y33vVVXxj00a
 GFcRFypVDRtZbLSWApAkWSvoewqWhwO7V4N/PxfBoMZexC3ntGKhsgzPxsoPvNAXbypI7QvOOCW
 ZTEvsT7uSb0nUCTVmZeTkOAEwMo4oDuSDpB+4/BR0fJIYAsK2CEi3/7ZYND1QF18Zk3ETCvTA3V
 xPFUy1PfXxhIOaBJgixa5VwO187XCEi1Y6ivWKpF4WemRZyySEcMw6MiO0EmnITLGwQCDhnyWwF
 YFdD09GBTOnHvOAjgRmKXzBktebqP79VZ7gpUxkUt9QYMG0iLRv8MgUTRANiR6A/KQJfaLoM0DD
 noi+54aKPZONMdMy/8DsZU6FkZTw9kAAAAASUVORK5CYII=
